.userCard {
  align-items: center;
  background-color: #122541;
  color:rgb(194, 206, 224);
  box-shadow: 0 0px 2px 0px #777;
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
  margin-bottom: 1rem;
  padding: 1rem;
}

.userCard .userId {
  align-self: flex-end;
  font-size: 0.5rem;
}

.userCard .userLogin {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.userCard .linksRow {
  display: flex;
  flex-direction: row;
}

.userCard .linksRow a {
  color: #03BFFE;
  text-decoration: none;
  font-weight: 600;
}

.userCard .linksRow a:first-child {
  margin-right: 1rem;
}

.userCard .additionalDetails button {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.userCard img {
  border-radius: 50%;
  height: 125px;
  width: 125px;
}

.additionalUserDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.additionalUserDetails div {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 450px) {
  .userCard {
    flex-basis: 100%;
  }
}
