* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

.App {
  background-color: #CCFFFF;
  min-height: 100vh;
}


@media only screen and (max-width: 450px) {
  .App {
    padding: 1rem;
  }
}
